/* Default css */
.number-scroller-default {
  font-size: 24px;
  text-align: center;
}

/* Dark theme */
.darktheme {
  background: #222 !important;
  color: #fff !important;
  padding: 50px !important;
  font-size: 1.5rem;
  text-align: center;
}

/* Light theme */
.lighttheme {
  background: #eee !important;
  color: #222 !important;
  padding: 50px !important;
  font-size: 1.5rem;
  text-align: center;
}
